:root {
    --hue: 185;
    --sat: 20%;
    --one: hsl(var(--hue), var(--sat), 74%);
    --two: hsl(var(--hue), var(--sat), 7%);
    --three: hsl(var(--hue), var(--sat), 20%);
    --four: hsl(var(--hue), var(--sat), 29%);
    --five: hsl(var(--hue), var(--sat), 52%);
    --six: hsl(var(--hue), var(--sat), 9%);
    --seven: hsl(var(--hue), var(--sat), 9%);
    --black: rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#window-bar {
    background: var(--one);
    color: var(--black);
    display: flex;
    align-items: center;
    -webkit-app-region: drag;
    user-select: none;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 20px; 
    padding: 0 6px;
    justify-content: space-between;
    transform: translateY(-1px); /* -1 to account for body border */
}

body {
    position: fixed;
    inset: 0;
    border: 1px solid var(--one);
    font-family: monospace;
    color: var(--one);
    background-color: var(--two);
    height: 100vh;
    font-size: 12px;
}

#home, #settings, #login, #misc {
    padding: 4px;
}

#home-stats {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: max-content 1fr 1fr;
    gap: 2px 4px;
}

nav button {
    color: var(--one);
    background-color: var(--four);
    border: none;
    gap: 4px;
    padding: 0 6px;
}

nav button:hover,
nav button.active {
    color: var(--black);
    background-color: var(--five);
}
nav button:hover:not(.active) { cursor: pointer; }

#home-user {
    display: flex;
    gap: 4px;
}

#home-user-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#avatar {
    width: 56px;
    height: 56px;
}

#home-stats {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.user-wrapper {
    display: flex; /* needed for gap */
    gap: 4px;
}

#team {
    color: rgb(249, 141, 151);
}