@font-face {
    font-family: 'proggy';
    src: url('fonts/ProggyClean.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --text:           #ffffff;
    --button:         #4296FA66;
    --button-hover:   #4296FAFF;
    --button-active:  #0F87FAFF;
    --main-bg:        #000000;
    --window-border:    #2f2f37;
    --window-bar:       #294A7AFF;
    --menu-bg :       #242424FF;
    --frame-bg:       #294A7A8A;
    --frame-bg-hover: #4296FA66;
    --window-bg:      #0F0F0FF0;
    --positive:       #4caf50;
    --negative:       #f44336;
    --disabled:       #1C1C1C;
}

* {
    box-sizing: border-box;
    font-family: 'proggy';
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg);
    color: var(--text);
    
}

input {
    color: var(--text);
    background-color: var(--frame-bg);
    border: none;
    padding: 2px 6px;
    outline: none;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: var(--frame-bg);
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:checked::before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 14px;
    height: 14px;
    background: url('assets/check.svg') center/contain no-repeat;
}

input:hover {
    background-color: var(--frame-bg-hover);
}

button {
    color: var(--text);
    background-color: var(--button);
    border: none;
    padding: 2px 6px;
}

button:hover {
    background-color: var(--button-hover);
}

button:active {
    background-color: var(--button-active);
}

hr {
    margin: 12px 0;
    border: none;
    border-top: 1px solid var(--main-border);
}

b {
    font-weight: normal;
    text-shadow: -1px 0px 0px var(--text);
    letter-spacing: 1px;
}

/* WINDOW ------------------------------------------------------- */
#window-title {
    flex: 1;
}

#window-bar {
    padding: 2px;
    background: var(--window-bar);
    display: flex;
    align-items: center;
    -webkit-app-region: drag;
    user-select: none;
    position: sticky;
    top: 0;
    z-index: 100;
}

#close-btn,
#min-btn {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 9px 9px;
}

#close-btn {
    background-image: url('assets/close.svg');
}

#min-btn {
    background-image: url('assets/minimise.svg');
}

.window-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.window-btn:hover {
    border-radius: 50%;
    background: var(--button);
}

/* SCROLLBAR ---------------------------------------------------- */
#main-content {
    position: absolute;
    top: 39px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background: var(--main-bg);
}

#main-content::-webkit-scrollbar {
    width: 8px;
    background: var(--menu-bg);
}

#main-content::-webkit-scrollbar-thumb {
    background: #555;

}

#main-content::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* MENU --------------------------------------------------------- */
#menu-bar {
    padding: 1px;
    background: var(--menu-bg);
    -webkit-app-region: drag;
    user-select: none;
    position: sticky;
    top: 19px;
    z-index: 99;
}

#menu-buttons {
    display: flex;
    gap: 0;
}

.menu-btn {
    color: var(--text);
    -webkit-app-region: no-drag;
    background: transparent;
    border: none;
    padding: 2px 6px;
}

.menu-btn:hover {
    background: var(--button);
}

.menu-btn.active {
    background: var(--button);
}

/* HOME --------------------------------------------------------- */
#stats {
    margin: 4px 5px 4px 5px; /* account for the border around the app */
    text-align: left;
}
#user-details {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 4px;
}

#avatar-img {
    width: 42px;
    height: 42px;
}

#profile-info {
    display: flex;
    flex-direction: column;
}

#daily-weekly-timer {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-self: flex-start;
}

#stats-grid {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    gap: 4px;
}

.stat-label, .stat-value, .stat-diff {
    height: 20px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.stat-value, .stat-diff {
    background-color: var(--frame-bg);
    padding: 2px 6px;
}

/* SETTINGS ----------------------------------------------------- */
#settings-modal {
    margin: 4px;
    text-align: left;
}

#stat-settings {
    column-count: 2;
    column-gap: 4px;
}

#stat-settings label,
#customization-settings label {
    display: block;
    margin-bottom: 4px;
}

#customization-settings label:last-child {
    margin-bottom: 0;
}

#settings-top-row {
    display: flex;
    gap: 24px;
}
/* LOGIN -------------------------------------------------------- */
#login-modal {
    margin: 4px;
    text-align: left;
}

#login-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px;
    align-items: left;
}

.login-label {
    text-align: left;
}

.login-input input {
    width: 50%;
}

#login-save-btn {
    margin-top: 4px;
}

/* HELP --------------------------------------------------------- */
#help-modal {
    margin: 4px;
    text-align: left;
}

/* DROPDOWN ----------------------------------------------------- */
.custom-dropdown { 
    background-color: var(--frame-bg);
    position: relative;
    width: 200px;
    user-select: none;
    cursor: pointer;
    padding: 2px 6px;
}

.custom-dropdown:hover,
.custom-dropdown:focus {
    background-color: var(--button);
}

.custom-dropdown::after { /* arrow bg */
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    background: var(--button);
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-dropdown:hover::after,
.custom-dropdown.open::after { /* arrow bg hover/active */
    background: var(--button-hover);
}

.custom-dropdown::before { /* arrow */
    content: '';
    position: absolute;
    top: 50%;
    right: 5px;
    width: 8px;
    height: 8px;
    transform: translateY(-50%);
    background: url('assets/arrow.svg') center/contain no-repeat;
    pointer-events: none;
    z-index: 1;
}


.custom-dropdown .dropdown-options { /* dropdown options */
    display: none;
    position: absolute;
    width: 100%;
    border: 1px solid var(--window-border);
    z-index: 10;
    top: 100%;
    left: 0;
}

.custom-dropdown.open .dropdown-options {
    display: block;
}

.custom-dropdown .option { /* single dropdown option */
    padding: 2px 6px;
    color: var(--text);
    background: #141414F0;

}

.custom-dropdown .option:hover,
.custom-dropdown .option:focus {
    background: var(--button-hover);
}

/* OTHER -------------------------------------------------------- */
.diff-green {
    color: var(--positive);
}

.diff-red {
    color: var(--negative);
}

.stat-disabled {
    color: var(--disabled);
    cursor: not-allowed;
}

.stat-disabled input[type="checkbox"] {
    cursor: not-allowed;
    background-color: var(--disabled);
}

#app-border {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    border: 1px solid var(--window-border);
    pointer-events: none;
    z-index: 9999;
}

